{% extends "./login.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<main>
    <div class="login-container">
        <div class="title-container">
            <h2>Acerca de Arkei</h2>
            <p>
                Arkei es una marca de ropa urbana colombiana que nace con la misión de crear prendas con estilo, identidad y calidad real. Somos una marca nueva,
                pero con una visión clara: elevar el streetwear nacional con diseños originales, materiales resistentes y una esencia auténtica que represente a
                la calle, la cultura y la creatividad latina.
            </p>
            <p>
                En Arkei creemos que la ropa urbana no solo es moda: es actitud, es historia, es forma de expresión. Cada prenda está pensada 
                para quienes entienden la calle como escenario, movimiento y forma de vida.
            </h2>
            <div class="return-link">
                <a href="/"> Volver al inicio</a>
            </div>
        </div>
    </div>
</main>
{% endblock %}